.article {
    position: relative;
    /*not sure if hidden must be used*/

    overflow: hidden;
    height: 100%;

}

.text {
    color: black;
    text-align: left;
    overflow-wrap: break-word;
    position: absolute;
    font-family: 'Open Sans';

    /* offset */
    top: 10%;
    left: 10%;
    /*
    height: fit-content;
    margin: auto;
    */
}