.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 150px;
  border-radius: 5px;

  color: #272727;
  background-color: white;
}

.article {
  font-weight: bold;
  font-size: 18px;
}
