* {
  font-family: "Montserrat";
  font-weight: "regular";
  color: white;
}

body {
  background: #272727;
}

img {
  width: 100%;
  position: relative;
  align-items: left;
}

.App {
  text-align: center;
  padding-top: 60px;
  max-width: 100%;
}

/* Should be moved into their own component in the future */
.subpages {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 50px 100px;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 5px;
}

.subpages:hover {
  outline: 2px solid white;
}
